<br>

<div class="row">
    <div class="col s12 m3">
      <div class="card blue darken-1">
        <div class="card-content white-text valign center">
          <span class="card-title"><i class="material-icons">list</i> Total Orders</span>
          <hr>
	      <h3 class="card-title">{{total_orders}}</h3>
	  	</div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card green darken-1 valign center">
        <div class="card-content white-text">
          <span class="card-title"><i class="material-icons">done_all</i> Orders Delivered</span>
          <hr>
	      <h3 class="card-title">{{delivered}}</h3>
	  	</div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card red darken-1 valign center">
        <div class="card-content white-text">
          <span class="card-title"><i class="material-icons">more_horiz</i> Orders Pending</span>
          <hr>
	      <h3 class="card-title">{{pending}}</h3>
	  	</div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card yellow darken-2 valign center">
        <div class="card-content white-text">
          <span class="card-title"><i class="material-icons">airport_shuttle</i> Out for Delivery</span>
          <hr>
	      <h3 class="card-title">{{out}}</h3>
	  	</div>
      </div>
    </div>
</div>