{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
</script>
<div class="row">
	<div class="col s12 m3">
		<form action="" method="POST">
			{% csrf_token %}
			
			{% for field in form %}
				{{field}}
				{% endfor %}
				<br>
			    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    				<i class="material-icons right">send</i>
				</button> 
		</form>
	</div>
</div>
{% endblock %}